.back-button {
    position: absolute;
    left: 50px;
    bottom: 100px;
    width: 80px;
    height: 80px;
    margin-left: -20px;
    margin-top: 222px;
}

.back-button:hover {
    cursor: pointer;
}

.back {
    width: 70px;
    height: auto;
}