.cate-word-box {
    position: relative;
    margin-left: 60px;
    margin-top: 90px; 
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cate-info {
    width: 440px;
    color: #FFF;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 177.778% */
}

.img-right {
    position: absolute;
    top: -20px;
    left: -5px;
    margin-top: 5px;
    width: auto;
    height: 35px;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: rotate(-90deg);
}

.img-right.rotated {
    transform: rotate(-180deg);
}

.accordion-link {
    position: relative; /* 기준점이 되어야 함 */
    display: inline-block;
}

.accordion-detail-link {
    position: absolute;
    top: -8px;
    left: 40px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    max-width: 400px;
    animation: fadeIn 0.8s ease;
    background: rgba(0, 0, 0, 0.4); /* 선택사항 */
}

.accordion-detail-link.show {
    opacity: 1;
    pointer-events: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-6px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
   .mobile-cate-word-box {
     margin-top: 30px;
        background-color: black;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    position: relative;
}

.mobile-cate-info {

    width: 92%;
    padding-left: 10px;
    color: #D0D0D0;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 179.31% */
letter-spacing: -0.145px;
    
}

.mobile-cate-back-button {
    width: 50px;
        height: 50px;
        margin-left: -5px;
        margin-top: 15px;
        display: flex;
        justify-content: center;
}

.mobile-cate-back-button:hover {
    cursor: pointer;
}

.mobile-cate-back {
    width: 70px;
    height: auto;
}

.mobile-word-weeklyplan {
    margin-top: 70px;
    margin-left: 10px;

    color: #545454;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mobile-week {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
}

.mobile-week p {
    color: #FFF;
    color: #5DFFC6;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
    margin-left: 30px;
}

.mobile-week-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
    height: 330px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 30px;
}

.mobile-week-line {
    width: 100%;
    height: 0.7px;
    border-top: 1px dotted #A1A1A1; /* 수평 점선 */

}

.mobile-week-line3 {
    width: 100%;
    height: 0.7px;
    background-color: #A1A1A1;
}

.mobile-weekinfo-box {
    width: 100%;
    height: auto;
    background-color: black;
    position: relative;
}

.mobile-weekinfo-label {
    position: absolute;
    top: 0;
    left: 30px;
    width: 80px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 65px;
}

.mobile-juje-sangse {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.mobile-word-juje {
    color: #545454;
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.mobile-word-sangse{
    color: #545454;
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
}



.mobile-weekinfo-info {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    width: auto;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 27px;
}

.mobile-juje-sangse2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
} 

.mobile-juje {
    padding-left: 10px;
    padding-top: 10px;
    color: #D0D0D0;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    border-radius: 5px;
background: #222;
width:320px;
height: 40px;
}

.mobile-sangse{
    padding-left: 10px;
    padding-top: 10px;
    color: #D0D0D0;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    border-radius: 5px;
background: #222;
width: 320px;
height: 80px;
}




}


.pt-link {
    position: absolute;
    left: 0px;
    top: 190px;
    width: 440px;
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}

.word-weeklyplan {
    margin-top: 80px;
    margin-left: 25px;
    color: rgba(255, 255, 255, 0.77);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.week {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.week p {
    color: #FFF;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 30px;
}

.week-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
    height: 330px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.week-line {
    width: 100%;
    height: 0.7px;
    border-top: 1px dotted #A1A1A1; /* 수평 점선 */

}

.week-line3 {
    width: 100%;
    height: 0.7px;
    background-color: #A1A1A1;
}

.weekinfo-box {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
}

.weekinfo-label {
    position: absolute;
    top: 0;
    left: 30px;
    margin-left: 150px;
    width: 80px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 65px;
}

.juje-sangse {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.word-juje {
    color: #FFF;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.word-sangse{
    color: #FFF;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.word-pt {
    color: #FFF;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.weekinfo-info {
    margin-top: 22px;
    margin-left: 80px;
    width: 340px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 27px;
}

.juje-sangse2 {
    position: absolute;
    top: 55px;
    left: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
} 

.juje {
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sangse{
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pt {
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.cate-back-button {
    position: absolute;
    left: 50px;
    bottom: 100px;
    width: 80px;
    height: 80px;
    margin-left: -20px;
    margin-top: 225px;
}

.cate-back-button:hover {
    cursor: pointer;
}

.cate-back {
    width: 70px;
    height: auto;
}


